# gradlew 在 Linux/macOS/WSL 下执行，必须是 LF；gradlew.bat 是 CRLF
gradlew                 text eol=lf
*.bat                   text eol=crlf
*.kt                    text eol=lf
*.kts                   text eol=lf
*.xml                   text eol=lf
*.pro                   text eol=lf
*.properties            text eol=lf
*.md                    text eol=lf
*.jar                   binary
*.png                   binary
*.webp                  binary
